body {
  color: #54494b !important;
  font-family: "Montserrat", sans-serif !important;
}

.charityReg {
  text-align: center;
}

.footer {
  background-color: #fcb0b3;
  overflow: hidden;
}

.footerlinks {
  align-items: flex;
  text-align: center;
  padding: 14px 16px;
}

.footerlinks a {
  text-decoration: none;
  font-size: 17px;
  color: #4e3c3f;
  padding: 14px 16px;
}

.gallery {
  background-color: #f3dfa2;
  position: relative;
  padding-bottom: 5px;
}

.iframe-maps {
  width: 100%;
  color: #4e3c3f;
}

.image-container {
  display: flex;
  justify-content: center;
}

.intro {
  background-image: url("src/introPhotoresized.jpeg");
  background-size: cover;
  max-width: 100%;
  height: 159px;
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: scroll;
}

.intro-text {
  width: 400px;
  height: 130px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
  font-size: 30px;
  text-align: center;
  position: absolute;
  margin-left: 20px;
  margin-top: 5px;
}

.map {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #f3dfa2;
  position: relative;
  padding: 10px;
}

.navbar {
  background-color: #fcb0b3;
  overflow: hidden;
}

.navbar a {
  float: left;
  color: #4e3c3f;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #ddd;
  color: #4e3c3f;
}

.navbuttons {
  float: left;
  background-color: #fcb0b3;
}

.search {
  float: right;
  color: #4e3c3f;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.stories-gallery {
  /* display: flex;
    justify-content: center; */
  background-color: #51a3a3;
}

.title-section {
  display: flex;
  justify-content: center;
  font-weight: bold !important;
  font-size: 0.5rem !important;
  padding-top: 15px;
  padding-bottom: 15px;
}

.quiz {
  background-color: #51a3a3;
  text-align: center;
  border: #4e3c3f;
  padding: 170px;
}

.quiz a {
  text-decoration: none;
  font-size: 25px;
  color: #4e3c3f;
}
