body {
  color: #54494b;
  font-family: "Festive", cursive;
  font-family: "Montserrat", sans-serif;
  font-family: "Quintessential", cursive;
  font-family: "Roboto", sans-serif;
  font-family: "Rowdies", cursive;
}

.intro {
  background-image: url("src/introPhotoresized.jpeg");
  background-size: cover;
  max-width: 100%;
  height: 450px;
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: scroll;
}

.intro-text {
  width: 450px;
  height: 130px;
  padding-top: 30px;
  padding-bottom: 20px;
  padding-left: 0px;
  padding-right: 0px;
  box-sizing: border-box;
  font-size: 30px;
  font-family: Montserrat;
  font-weight: bold;
  color: #54494b;
  text-align: center;
  position: absolute;
  margin-left: 20px;
  margin-top: 5px;
}

.gallery {
  background-color: #f3dfa2;
  position: relative;
  padding: 50px;
}

.nav {
  background-color: #fcb0b3;
}

.quiz {
  background-color: #51a3a3;
}

.map {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #f3dfa2;
  position: relative;
  padding: 10px;
}

.image-container {
  display: flex;
  justify-content: center;
}

.title-section {
  display: flex;
  justify-content: center;
}

/* Swipper CSS code */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-next {
  opacity: 50%;
  filter: alpha(opacity=1000);
}

.swiper-button-prev {
  opacity: 50%;
  filter: alpha(opacity=1000);
}

.iframe-maps {
  width: 100%;
  color: #4e3c3f;
}
