body {
  color: #54494b;

  font-family: "Festive", cursive;
  font-family: "Montserrat", sans-serif !important;
  font-family: "Quintessential", cursive;
  font-family: "Roboto", sans-serif;
  font-family: "Rowdies", cursive;
}

.container {
  position: relative;
  text-align: center;
  color: #54494b;
}

.intro {
  position: absolute;
  top: 19%;
  right: -72%;
  transform: translate(-48%, -52%);
}

.gallery {
  background-color: #f3dfa2;
}

.nav {
  background-color: #fcb0b3;
}

.quiz {
  background-color: #51a3a3;
}

.map {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #f3dfa2;
  position: relative;
  padding: 10px;
}

.image-container {
  display: flex;
  justify-content: center;
}

.title-section {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 0.5rem !important;
}

/* Swipper CSS code */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-next {
  opacity: 50%;
  filter: alpha(opacity=1000);
}

.swiper-button-prev {
  opacity: 50%;
  filter: alpha(opacity=1000);
}

.iframe-maps {
  width: 100%;
  color: #4e3c3f;
}
