body {
  background-color: #f3dfa2 !important;
  color: #54494b !important;
  font-family: "Montserrat", sans-serif !important;
}

.padding-bottom {
  padding-bottom: 3vw;
}

.question {
  background-color: #51a3a3 !important;
  color: white;
  font-size: 4.5vw;
}

.radio-button {
  float: none !important;
}

@media (min-width: 1025px) {
  .question {
    background-color: #51a3a3 !important;
    color: white;
    font-size: 2.5vw;
  }
}
